.container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  background: var(--bg-dark);
  color: var(--text-light);
}

.container h2 {
  font-weight: 600;
  margin-bottom: 20px;
}

hr {
  border-color: var(--border-light);
  margin: 20px 0;
}