.language-container {
  width: 78%;
  position: absolute;
  left: 20%;
  top: 8%;
  padding: 30px;
  color: #f0f0f0;
  border-radius: 20px;
  /* background: var(--bg-dark); */
  background: linear-gradient(145deg, #121212, #1e1e1e);

  color: var(--text-light);
}

.language-container h2 {
  font-weight: 600;
  margin-bottom: 20px;
}

hr {
  border-color: var(--border-light);
  margin: 20px 0;
}